@using GameZone.Settings
@model IEnumerable<Game>
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
   <div class="alert alert-warning mt-5 text-center">
   
    <h4 class="alert-heading">No Games!</h4>
    <p class="mb-0">NO Games were added yet!</p>
    </div>
}else
{
    <div class="row mt-5">
        @foreach(var game in Model)
        {
            <div class="col-lg-4 col-md-6">
                <a  class="card border-success mb-3 rounded-3 overflow-hidden text-decoration-none" asp-controller="Games" asp-action="Details" asp-route-Id="@game.Id">
                    <div class="card-body" style="background-image:url(@($"{FileSettings.ImagePath}/{game.Cover}"));height:500px; background-size:cover; background-position:center">
                       <div class="d-flex align-items-end h-100">
                            <span class="badge bg-secondary rounded-0 fs-3">@game.Category.Name</span>
                       </div>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach(var gameDevice in game.Devices)
                            {
                                <i class="@gameDevice.Device.Icon fs-4 me-2"></i>
                            }
                        </div>

                    </div>
                </a>
            </div>
        }
    </div>
}

